[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
gunicorn = "*"
google-cloud-vision = "*"
restrictedpython = "*"

[requires]
python_version = "3.7"
