<html>
    <head>
        <title>Turn Paper Into Code</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
    </head>
    <body>
        <div id="input">
            <p>Please upload an image with code:</p>
            <form method=post enctype=multipart/form-data>
                <input type=file name=file>
                <input type=submit value=Upload>
            </form>
            <p>Note: Use variable "out" for printing in the output.</p>
        </div>
        {% if result is defined %}
        <div id="output">
            Input:
            <div class="code">{{input|safe}}</div>
            Output:
            <div class="code">{{result}}</div>
        </div>
        {% endif %}
    </body>
</html>