body {
    text-align: center;
}
.code {
    padding: 2rem;
    background-color: lightgray;
}
#upload {
    margin-bottom: 5rem;
}
#input {
    margin-bottom: 5rem;
}
#input #edit-code {
    display: none;
}
#input #edit-code textarea {
    width: 100%;
    height: 10rem;
}
